/* 
 * Name:			Inspire X1
 * Author:		insraq
 * URI:			http://insraq.com/
 * Version:		1.0
 * License:		GPL 2.0
 * Please do not remove the copyright information
 */ 

/* Import */

@import url(reset.css);
@import url(text.css);
@import url(960.css);
 
/* Global Style */

body {
	color: #666;
	font-size: 13px;
	font-family: Georgia, Time, "Times New Roman", serif;
	line-height: 1.6;
}

a {
	color: #EB421B;
	text-decoration: none;
}

a img {
	outline: none;
	border: 0;
}

a:hover {
	color: #FF6A1B;
	text-decoration: none;
}

h1, h2, h3 {
	font-family: Arial, Verdana, sans-serif;
	font-weight: normal;
	margin: 5px 0;
	padding: 0;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 16px;
}

small {
	font-size: 12px;
}

/* Theme Specific Style */

/* Header */

.header {
	width: 100%;
	margin: 0 0 10px 0;
	background: #A4C444 url(img/header_bg.jpg) repeat-x bottom;
}

.header a {
	color: #fff;
}

h1.logo {
	text-transform: uppercase;
	margin: 15px 0 0 0;
	font-weight: bold;
	text-align: right;
}

.xo-nav, ul.xo-nav * {
	list-style: none;	
	margin: 0;
}

.xo-nav li {
	float: left;
	display: block;
	margin: 0 10px;
	position: relative;
	z-index: 2000;
}

.xo-nav li.first {
	margin: 0 10px 0 0;
}

.xo-nav li a {
	padding: 15px;
	display: block;
}

.xo-nav li > a:hover, .xo-nav li > a.current {
	background: #EB421B url(img/header_bg_hover.jpg) repeat-x bottom;
}

.xo-nav li ul {
	position: absolute;
	display: none;
	left: 0;
	width: 200px;
	background: #EB421B;
	padding: 20px;
	color: #fff;
	z-index: 1000;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

.xo-nav li ul a {
	display: inline;
	background: none;
	padding: 0;
	color: #fff;
	text-decoration: none;
	background: none;
}

.xo-nav li ul a:hover {
	text-decoration: underline;
	background: none;
}

/* Slider */

#showcase {
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}

#slider {
	margin: 0 116px;
}

#slider ul, #slider li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#slider li { 
	width: 728px;
	height: 451px;
	overflow: hidden;
}

#prevBtn, #nextBtn { 
	display: block;
	width: 116px;
	height: 451px;
	position: absolute;
	top: 0;
	z-index: 1000;
}

#prevBtn {
	left: 0;
}

#nextBtn { 
	right: 0;
}
													
#prevBtn a, #nextBtn a {  
	display: block;
	position: relative;
	width: 116px;
	height: 451px;
	background: url(img/arrow-left.png) no-repeat 0 0;
	text-indent: -9999px;
	overflow: hidden;
}

#nextBtn a { 
	background:url(img/arrow-right.png) no-repeat 0 0;	
}

#prevBtn a:hover, #nextBtn a:hover {
	background-position: -116px 0;
}

/* Footer */

.footer {
	text-align: right;
	background: #B0BF8D;
	padding: 10px 0;
	color: #fff;
	font-size: 12px;
}

.footer a {
	color: #fff;
	border-bottom: 1px solid #fff;
}

/* Blocks */

.left-block {
	margin-bottom: 20px;
}

.center-top-left {
	width: 48%;
	float: left;
	margin-bottom: 20px;
}

.center-top-right {
	width: 48%;
	float: right;
	margin-bottom: 20px;
}

.center-top-center {
	clear: both;
	width: 100%;
	margin-bottom: 20px;
}

.center-bottom-left {
	width: 48%;
	float: left;
	margin-bottom: 20px;
}

.center-bottom-right {
	width: 48%;
	float: right;
	margin-bottom: 20px;
}

.center-bottom-center {
	clear: both;
	width: 100%;
	margin-bottom: 20px;
}

.right-block {
	margin-bottom: 20px;
}

.xo-cotent {
}

/* XOOPS System Template */
/* The code here is different from Inspire 1-6. I rewrite it based on blanktheme by Kris */
/* Main Menu */
#mainmenu {}
#mainmenu a {
	display: block;
}
#mainmenu a:hover {}
#mainmenu a:active, #mainmenu a.current {}
#mainmenu a:visited {}
#mainmenu a.menuTop  {}
#mainmenu a.menuMain {}
#mainmenu a.menuSub {
	padding: 0 0 0 10px;
	font-size: 12px;
}
#mainmenu a.menuSub:hover  {}
#mainmenu a.maincurrent {}
/* User Menu */
#usermenu {}
#usermenu a {
	display: block;
}
#usermenu a:hover  {}
#usermenu a:active, #usermenu a.current {}
#usermenu a:visited {}
#usermenu a.menuTop {}
#usermenu a.highlight {}
/* Tables and Cells */
table {
	width:100%; 
	margin: .5em 0 1em 0; 
	border-collapse: collapse;
}
caption {}
th, th.head, thead {
	font-weight: bold;
	text-align: center;
	vertical-align : middle;
	background: #F0F0F0;
	padding: 5px;
}
th.head a {}
th.head a:hover {}
.foot, tfoot {}
tbody {}
table.outer {
	border-collapse: separate;
}
table td {
	padding: 5px;
}
.outer {	
	padding: 5px;
s}
.head {
	font-weight: bold;
	vertical-align: top;
}
.even {
	padding: 5px;
}
.odd {
	padding: 5px;
}
tr.even {

}
tr.odd {

}
/* Forms */
button, input[type=submit], input[type=button], input[type=reset], .xo-formbuttons, .formButton {
}
input[type=text], input[type=password], input[type=checkbox], input[type=file], textarea {
}
/* Pages Navigation */
#xo-pagenav {}
.pagneutral {}
.pagact {}
.paginact {}
.xo-counterpage {
	padding: 5px;
	margin: 0 2px;
	border: 1px solid #ccc;
}
.xo-pagarrow {
	padding: 5px;
	margin: 0 2px;
	border: 1px solid #ccc;
}

/* Codes and Quotes */

.xoopsCode {
	max-height: 400px;
	overflow: auto;
	font-family: Consolas, "Courier New", monospace;
}
.xoopsQuote {}
blockquote {
	font-style: italic;
	font-family: Georgia, "Times New Roman", serif;
}